:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* Size */
  --base--size: 8px;
  --size--btn: 60px;
  --size--img: 50px;
  --font-size: 18px;

  /* annimation */
  --annimation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
.logo {
  cursor: pointer;
  transition: all var(--annimation-duration) ease;
  margin: 30px 0;
}
.container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: var(--base--size);
  transition: transform var(--annimation-duration) ease;
}
.btn:hover,
.logo:hover {
  transform: scale(1.1);
}
.imgBtn {
  width: var(--size--btn);
  height: var(--size--btn);
}
.colorB {
  font-size: var(--font-size);
  padding: calc(var(--base--size) * 2);
}
.btn.b {
  background-color: var(--color-blue);
}
.btn.y {
  background-color: var(--color-yellow);
}
.btn.p {
  background-color: var(--color-pink);
}


.items {
  width: 80%;
  height: 80%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}
.item {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: var(--base--size);
  margin-bottom: var(--base--size);
}
.item__img {
  width: var(--size--img);
  height: var(--size--img);
}
.item__description {
  margin-left: var(--base--size);
  font-size: var(--font-size);
} 